# Node dependencies
node_modules/

# Output
public/index.css
public/index.js
public/*.map
public/*.bin
public/*.png
public/*.svg
public/*.mp3
public/*.wav
public/worker/
public/log.txt
dist/

.DS_Store
