.wrapper {
	position: fixed;
	inset: 0;
	display: flex;
	transition: all 0.5s;
}
.gaming {
	background-color: rgba(0, 0, 0, 0.2);
}

.optionsAnchor,
.optionsPanel,
.playerListAnchor,
.playerList {
	width: 20rem;
}

.optionsAnchor,
.playerListAnchor {
	position: relative;
}

.optionsPanel,
.playerList {
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	overflow: auto;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(20px);
	transition: all 0.5s;
}
.optionsHidden .optionsPanel,
.hide .optionsPanel,
.hide .playerList {
	box-shadow: none;
	visibility: hidden;
}

.toggleBtn {
	position: absolute;
	z-index: 1;
	bottom: 0;
	margin: 20px;
	background-color: #0f172a;
	&:hover {
		background-color: #020617;
	}
}
.optionsAnchor .toggleBtn {
	left: 0;
}
.playerListAnchor .toggleBtn {
	right: 0;
	display: none;
}

.optionsPanel {
	left: 0;
	box-sizing: border-box;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.optionsHidden .optionsPanel,
.hide .optionsPanel {
	transform: translateX(-100%);
}
.optionsHeader {
	display: flex;
	align-items: center;
}
.closeBtn {
	font-size: 1rem;
	font-weight: normal;
	margin-left: auto;
	background-color: #64748b;
	&:not(:disabled):hover {
		background-color: #475569;
	}
}
.playerListAnchor .closeBtn {
	display: none;
}

.column {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.logo {
	font-size: 6rem;
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
}

.playerList {
	right: 0;
}
.hide .playerList {
	transform: translateX(100%);
}
@media (max-width: 900px) {
	.playerListHidden .playerList {
		transform: translateX(100%);
		box-shadow: none;
		visibility: hidden;
	}
}

.clickMessage {
	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 2rem;
	cursor: pointer;
	padding: 20px;
	box-sizing: border-box;
	transition: all 0.5s;
}
.lobby .clickMessage {
	visibility: hidden;
	opacity: 0;
}

.hide {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.winnerMessage {
	margin-top: 20px;
	margin-bottom: auto;
	font-size: 1.5rem;
	text-shadow: 0 0 1em black;
}
.boss {
	color: #ef4444;
}
.hero {
	color: #3b82f6;
}

@media (max-width: 1200px) {
	.optionsAnchor {
		width: 0;
	}
}
@media (max-width: 900px) {
	.playerListAnchor {
		width: 0;
		.toggleBtn {
			display: unset;
		}
		.closeBtn {
			display: unset;
		}
	}
}
