.wrapper {
	display: flex;
	flex-direction: column;
	white-space: pre;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}
.player {
	display: flex;
	gap: 10px;
	&::before {
		/* TEMP? ideally should be an icon */
		display: block;
		width: 1em;
		height: 1em;
		text-align: center;
		font-weight: bold;
	}
}
.offline {
	opacity: 0.5;
}
.role-boss {
	color: #ef4444;
	&::before {
		content: "B";
	}
}
.role-hero {
	color: #3b82f6;
	&::before {
		content: "H";
	}
}
.role-spectator {
	color: #94a3b8;
	&::before {
		content: "S";
	}
}
