.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin: 50px;
	transition: all 0.5s;
}
.hide {
	transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
}

.buttonRow {
	display: flex;
	gap: 10px;
}

.button {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	height: 40px;
	padding: 0 20px;
	border-radius: 40px;
	&:disabled {
		opacity: 0.5;
		box-shadow: none;
	}
}
.bossBtn {
	background-color: #ef4444;
	&:not(:disabled):hover {
		background-color: #dc2626;
	}
}
.heroBtn {
	background-color: #3b82f6;
	&:not(:disabled):hover {
		background-color: #2563eb;
	}
}
.spectateBtn {
	background-color: #64748b;
	&:not(:disabled):hover {
		background-color: #475569;
	}
}
