.wrapper {
	flex: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	justify-content: flex-end;
	transition: all 0.5s;
}
.hide {
	opacity: 0;
	visibility: hidden;
}

.startBtn {
	background-color: #eab308;
	color: black;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	padding: 10px 20px;
	border-radius: 40px;
	&:hover {
		background-color: #facc15;
	}
}
