.wrapper {
	display: flex;
	flex-direction: column;
}
.stage,
.timer {
	/* text-shadow `em` is apparently based on the element that defines it */
	text-shadow: 0 0 1em black;
}

.timerWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.5s;
}
.hide {
	opacity: 0;
	visibility: hidden;
}

.timer {
	display: flex;
	align-items: baseline;
	font-size: 4rem;
}
.secondsOnly {
	& .timer {
		gap: 5px;
	}
	& .colon {
		display: none;
	}
	& .right {
		font-size: 0.5em;
		opacity: 0.8;
	}
}

.left {
	text-align: right;
	width: calc(1ch + 10px);
}
.right {
	width: calc(2ch + 10px);
}
.colon {
	transform: translateY(-5px);
}

.bar {
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 30px black;
	--percentage: 0;
	&::before {
		border-radius: 3px;
		content: "";
		display: block;
		height: 100%;
		width: var(--percentage);
		background-color: white;
	}
}

.stages {
	display: flex;
}
.stage {
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 40px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
	background-image: linear-gradient(to bottom, #d946efaa, #d846ef45 15%, transparent 50%);
	background-position-y: -20px;
	background-repeat: no-repeat;
	transition: all 0.5s;
}
.current {
	color: white;
	background-position-y: 0;
}
